{% extends 'base.html.twig' %}

{% block title %}Список посылок{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12 ">
            <h1>Список посылок
                <button type="button" id="package_new" class="btn btn-sm btn-primary">
                    <span style="white-space:nowrap;">
                        <i class="fa fa-plus"></i> <span class="d-inline d-sm-inline pl-1">Создать</span>
                    </span>
                </button>
            </h1>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th style="width:1%">Id</th>
                <th>Трекинг-номер</th>
                <th>Описание</th>
                <th>Вес</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for package in packages %}
            <tr>
                <td>{{ package.id }}</td>
                <td>{{ package.tracking }}</td>
                <td>{{ package.description }}</td>
                <td>{{ package.weight }}</td>
                <td>
                    <a href="{{ path('package_show', {'id': package.id}) }}">show</a>
                    <a href="{{ path('package_edit', {'id': package.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Не найдено ни одной записи.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('package_new') }}">Создать</a>
{% endblock %}
